{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block main %}
    <div class="d-flex justify-content-center">
        <input class="form-control w-25" style="display: none" id="myInput" type="text" placeholder="Search...">
    </div>
    <br>
    <br>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Subject</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="tableData">
        {% for teacher in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.phone_number }}</td>
                <td>{{ teacher.subject }}</td>
                <td>
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'teachers:update' teacher.pk %}">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'teachers:delete' teacher.pk %}">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="/static/js/toggle.js"></script>
    <script src="/static/js/search.js"></script>
{% endblock %}