{% extends 'layout.html' %}

{% load crispy_forms_filters %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <div class="container w-50">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Change your password</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-outline-primary">Confirm</button>
                        <a class="btn btn-outline-secondary" href="{% url 'accounts:profile' %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}