{% extends 'layout.html' %}

{% block title %}
    Password reset
{% endblock %}

{% block main %}
    <div class="text-center" style="width: 80%; margin: 0 auto">
        <h1>Password reset complete!</h1>
        <br>
        <h6 style="width: 60%; margin: 0 auto">
            Your Password has been set, and now you can...
        </h6>
    </div>
    <br/>
    <div class="text-center">
        <a class="btn btn-outline-primary btn-lg" href="{% url 'accounts:login' %}">
            Login <i class="bi bi-box-arrow-in-right"></i>
        </a>
    </div>
{% endblock %}