{% extends 'layout.html' %}

{% load crispy_forms_filters %}

{% block title %}
    Password reset
{% endblock %}

{% block main %}
    <div class="text-center" style="width: 80%; margin: 0 auto">
        <h1>Password Reset Form</h1>
        <h6 style="width: 60%; margin: 0 auto">
            Please enter your new password so we can verify.
        </h6>
    </div>
    <br/>
    <br/>
    <div class="container w-50">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="d-flex justify-content-center">
                <input class="btn btn-success mt-3" type="submit" value="Reset Password"/>
            </div>
        </form>
    </div>
{% endblock %}