{% extends 'layout.html' %}

{% load crispy_forms_filters %}

{% block title %}
    Password reset
{% endblock %}

{% block main %}
    <div class="container w-50 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Reset your password</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-primary btn-block mt-3">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}