{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Birthday</th>
                <th scope="col">Age</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.phone_number }}</td>
                <td>{{ student.birthday }}</td>
                <td>{{ student.get_age }}</td>
                <td>
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'students:update' student.pk %}">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'students:delete' student.pk %}">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}