{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Group Name</th>
                <th scope="col">Current Capacity</th>
                <th scope="col">Max Capacity</th>
                <th scope="col">Subjects</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ group.group_name }}</td>
                <td>{{ group.curr_students }}</td>
                <td>{{ group.max_capacity }}</td>
                <td>{{ group.subjects }}</td>
                <td>
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'groups:update' group.pk %}">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'groups:delete' group.pk %}">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}