{% extends "layout.html" %}

{% block title %} Confirm Page {% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        <h5 style="text-align: center">Please confirm data delete for: <b style="color: red">{{ object }}</b></h5>
        <br>
        <div style="text-align: center">
            <button class="btn btn-outline-danger btn-lg" type="submit">Confirm</button>
            <a class="btn btn-outline-secondary btn-lg" href="{% url 'index' %}">Abort</a>
        </div>
    </form>
{% endblock %}