{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block main %}
    <div class="d-flex justify-content-center">
        <input class="form-control w-25" style="display: none" id="myInput" type="text" placeholder="Search...">
    </div>
    <br>
    <br>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Course Name</th>
                <th scope="col">Hours</th>
                <th scope="col">Group</th>
                {% if user.is_authenticated %}
                    <th scope="col" style="text-align: center">Edit</th>
                    <th scope="col" style="text-align: center">Delete</th>
                {% endif %}
            </tr>
        </thead>
        <tbody id="tableData">
        {% for course in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ course.course_name }}</td>
                <td>{{ course.hours }}</td>
                <td>{{ course.group.group_name }} ({{ course.group.student_count }}/{{ course.group.max_capacity }} attendants)</td>
                {% if user.is_authenticated %}
                    <td style="text-align: center">
                        <a class="btn btn-outline-dark btn-sm" href="{% url 'courses:update' course.pk %}">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                    </td>
                    <td style="text-align: center">
                        <a class="btn btn-outline-dark btn-sm" href="{% url 'courses:delete' course.pk %}">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="/static/js/toggle.js"></script>
    <script src="/static/js/search.js"></script>
{% endblock %}